<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>File Formats</title>
<link href="./style.css" rel="stylesheet" />
</head>

<body>
<div id="main">
  <script type="text/html" id="file_description_tmpl">
    <div class="fileDescription">
      <h2><%= title %></h2>
      <h3>Source: <a href="<%= source.url %>"><%= source.title %></a></h3>
      <div class="description">
      <%= description %>
    </div>
  </script>
  <script src="d3.v3.min.js"></script>
  <script src="micro-template.js"></script>
  <script src="chart.js"></script>
  <div id="tooltip"></div>

</div>
</body>
</html>
